<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container mt-5">
      <h1 class="text-center">Discover Events Based on Your Listening</h1>
      <p class="text-center text-wrap fs-4">Select search to find specific events or enter a location and press fill with your favorite artists to discover events based on your listening</p>
      <form action="/discoverSearch" method="get">
        <div class="mb-4">
          <label class="form-label text-center" for="InputEvent">Type here to search for events</label>
          <input type="text" name="InputEvent" class="form-control" id="InputEvent" />
        
          <label class="form-label text-center" for="Location">Enter the city you are in</label>
          <input type="text" name="Location" class="form-control" id="Location" />
        </div> 
        <div class="input-group mb-3">
            <button type="submit" class="btn" name="discoverButton" value="search"><img src="resources\img\new search image.png" alt="Search Icon" height="35" width="35"></button>
            <button type="submit" class="btn btn-primary ml-3" name="discoverButton" value="fill">Fill with your favorite artists</button>
      </div>
        </form>
        <div class="row">
          <%
          if (events)
          {
            for (let event of events){ %>
              <div class="col mb-4 mb-4">
                <div class="card" style="width: 20rem">
                  <% if(event.images) { %>
                  <img src="<%=event.images[0].url%>" class="card-img-top" alt="Event Image">
                  <% } %>
                  <div class="card-body">
                    <h4 class="card-title"><%=event.name%></h4>
                    <p class="card-text">
                      <% if(event.dates) { %>
                        Date: <%=event.dates.start.localDate%>
                        <br>
                        Time: <%=event.dates.start.localTime%>
                      <% } %>
                    </p>
                    <a href="<%=event.url %>" class="btn btn-primary"> Book Now</a>
                  </div>
                </div>
              </div>
           <% }
          }
          %>
        </div>
    </div>
</main>
  

<%- include ('../partials/footer') %>
