<%- include ('../partials/header') %>
<% if(typeof username === "undefined") { %>
    <%- include ('../partials/menu2') %>
<% } %>
<% if(typeof username !== "undefined") { %>
    <%- include ('../partials/menu1') %>
<% } %>


<mainTwo>
    <div class="container search mt-5">
        <form action="/searchSong" method="get">
            <div class="mb-4 text-center">
                <label class="form-label text-center fs-2" style="color: white;" for="InputSong">Enter a track to view recommendations </label>
            </div>  
            <div class="input-group">
                <input type="text" name="InputSong" class="form-control" placeholder="Enter a song name..." id="InputSong" />
                <button type="submit" class="btn"><img src="resources\img\new search image.png" alt="Search Button" height="35" width="35"></button>
            </div>
        </form>
        <table class="table table-dark table-striped">
        <%
        if (tracks)
        { %>
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Listeners</th>
                <th scope="col"></th>
            </thead>
                <tbody>
                <% for (let track of tracks){ %>
                        <tr>
                            <td id="track-name">
                                <%=track.name%>
                            </td>
                            <td id="track-artist">
                                <%=track.artist%>
                            </td>
                            <td id="track-listens">
                                <%=track.listeners%>
                            </td>
                            <td class="text-center">
                                <form action="/displayResults" method="post">
                                    <input type="hidden" name="trackName" value="<%= track.name %>">
                                    <input type="hidden" name="trackArtist" value="<%= track.artist %>">
                                    <button class="btn btn-primary" type="submit">Get Recommendations</button>
                                </form>
                            </td>
                        </tr>
                <% }
                }     
                %>
            </tbody>
        </table>
    </div>
</mainTwo>



<%- include ('../partials/footer') %>