<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


<main>
    <div class="container search">
        <form action="/searchSong" method="get">
            <div class="mb-4">
                <label class="form-label" for="InputSong">Type a song to get similar recommendations</label>
                <input type="text" name="InputSong" class="form-control" id="InputSong" />
            </div>  
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <table class="table table-hover">
        <%
        if (tracks)
        { %>
            <thead>

                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Listeners</th>
                <th scope="col"></th>
            </thead>
           <% for (let track of tracks){ %>
                <tr>
                    <td id="track-name">
                        <%=track.name%>
                    </td>
                    <td id="track-artist">
                        <%=track.artist%>
                    </td>
                    <td id="track-listens">
                        <%=track.listeners%>
                    </td>
                    <td>
                        <form action="/displayResults" method="post">
                            <input type="hidden" name="trackName" value="<%= track.name %>">
                            <input type="hidden" name="trackArtist" value="<%= track.artist %>">
                            <button class="btn btn-primary" type="submit">Get Recommendations</button>
                        </form>
                    </td>
                </tr>
           <% }
        }     
        %>
        </table>
    </div>
</main>



<%- include ('../partials/footer') %>