<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


/*
    Use last.fm to autocorrect user input, then from there feed that to spotify API
*/
<main>
    <div class="container">
        <form action="/searchSong" method="get">
            <div class="mb-4">
                <label class="form-label" for="InputSong">Type a song to get similar recommendations</label>
                <input type="text" name="InputSong" class="form-control">
            </div>  
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <%
        if (tracks)
        {
            tracks.forEach(function(track){ %>
                <tr>
                    <td id="track-name">
                        <%=track.name%>
                    </td>
                    <td id="track-artist">
                        <%=track.artist.name%>
                    </td>
                    <td>
                        <img src="<%=track.image%>" alt="track image">
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="recommendSong()"></button>
                    </td>
                </tr>
           <% })
        }     
        %>
    </div>
</main>

<script src="Code_and_components\src\resources\js\recommend.js"></script>

<%- include ('../partials/footer') %>