<%- include ('../partials/header') %>
<% if(typeof username == "undefined") { %>
    <%- include ('../partials/menu2') %>
<% } %>
<% if(typeof username != "undefined") { %>
    <%- include ('../partials/menu1') %>
<% } %>


<mainTwo>
    <div class="container">
        <h2 style="color: white; padding-top: 20px; padding-bottom: 10px;">Search Results:</h2>
        <table class="table table-dark table-striped">
        <%
        if (tracks)
        { %>
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Listens</th>
            </thead>
           <% for (let track of tracks){ %>
                <tr>
                    <td id="track-name">
                        <%=track.name%>
                    </td>
                    <td id="track-artist">
                        <%=track.artist.name%>
                    </td>
                    <td id="track-plays">
                        <%=track.playcount%>
                    </td>
                </tr>
           <% }
        }  
        else
        { %>
            <h2>Sorry! That Song has no Results</h2>
       <% }   
        %>
        </table>
    </div>
</mainTwo>


<%- include ('../partials/footer') %>