<%- include ('../partials/header') %>
<%- include ('../partials/menu1') %>


<main>
    <div class="container">
        <h2>Search Results:</h2>
        <table class="table table-hover">
        <%
        if (artists)
        { %>
            <thead>
                <th scope="col">Artist</th>
                <th scope="col">Genre</th>
                <th scope="col">Image</th>
            </thead>
           <% for (let artist of artists){ %>
                <tr>
                    <td>
                        <%=artist.name%>
                    </td>
                    <td>
                        <%=artist.genres[0]%>
                    </td>
                    <td>
                        <img src="<%=artist.images[0].url%>" height="150" width="150" alt="Artist Image">
                    </td>
                </tr>
           <% }
        }  
        else
        { %>
            <h2>Sorry! That Artist has no Results</h2>
       <% }   
        %>
        </table>
    </div>
</main>


<%- include ('../partials/footer') %>