<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1 class="text-center">Your Top Artists</h1>
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a href="/getTopArtists/short_term" class="nav-link">Last 4 Weeks</a>
      </li>
      <li class="nav-item">
        <a href="/getTopArtists/medium_term" class="nav-link">Last 6 Months</a>
      </li>
      <li class="nav-item">
        <a href="/getTopArtists/long_term" class="nav-link">Lifetime</a>
      </li>
    </ul>
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a href="/collageArtists/short_term" class="nav-link">Collage</a>
      </li>
      <li class="nav-item">
        <a href="/collageArtists/medium_term" class="nav-link">Collage</a>
      </li>
      <li class="nav-item">
        <a href="/collageArtists/long_term" class="nav-link">Collage</a>
      </li>
    </ul>
  </div>
      <table class="table table-hover">
      <%
        if (artists)
        { %>
          <thead>
            <th class="text-center fs-2" scope="col">#</th>
            <th class="text-center fs-2" scope="col">Name</th>
            <th class="text-center fs-2" scope="col">Top Genre</th>
            <th class="text-center fs-2" scope="col">Image</th>
          </thead>
          <%
          let count = 1;
          for (let artist of artists){ %>
            <tr>
              <td class="text-center fs-5"> <%= count ++ %></td>
              <td class="text-center fs-5"> <%=artist.name %></td>
              <td class="text-center fs-5"> <%=artist.genres[0] %></td>
              <td class="text-center fs-5"> <img src="<%=artist.images[2].url %>" width="150" height="150" alt="artist image"></td>
            </tr>
         <% }
        }
      %>
    </table>
 
</main>

<%- include ('../partials/footer') %>
<script src="Music-Recommendation-App\Code_and_components\index.js"></script>
