<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a href="/getTopTracks/short_term" class="nav-link">Last 4 Weeks</a>
      </li>
      <li class="nav-item">
        <a href="/getTopTracks/medium_term" class="nav-link">Last 6 Months</a>
      </li>
      <li class="nav-item">
        <a href="/getTopTracks/long_term" class="nav-link">Lifetime</a>
      </li>
    </ul>
    </div>
    
      <table class="table table-hover">
      <%
        if (songs)
        { %>
          <thead>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Artist</th>
            <th scope="col">Popularity</th>
            <th scope="col"></th>
          </thead>
          <%
          let count = 1;
          for (let song of songs){ %>
            <tr>
              <td> <%= count ++ %></td>
              <td> <%=song.name %></td>
              <td> <%=song.artists[0].name %></td>
              <td> <%=song.popularity %></td>
              <td>
                <a href="<%=song.preview_url%>" role="button" class="btn btn-primary">Preview Song</a>
              </td>
            </tr>
         <% }
        }
      %>
    </table>
  </div>
</main>

<%- include ('../partials/footer') %>
<script src="Music-Recommendation-App\Code_and_components\index.js"></script>
